body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfaf6;
    color: #333;
}

header {
    background-color: #78b361;
    color: white;
    padding: 2rem;
    text-align: center;
}

.logo {
    max-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

nav {
    background-color: #444;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

nav a:hover {
    background-color: #666;
}

section {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #eee;
    text-align: center;
    padding: 1rem;
    font-size: 0.9em;
    color: #555;
}
